---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import RelatedPostsCard from "@components/RelatedPostsCard.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { Image } from "astro:assets";
import Share from "@components/Share.vue";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <main>
    <article class="prose mx-auto dark:prose-invert">
        <div class="prose-h1 text-center">
          <h1>{post.data.title}</h1>
        </div>
        <div>
          {
            post.data.cover && (
              <Image src={post.data.cover} alt={post.data.coverAlt ?? ""} />
            )
          }
        </div>
        <div>
          <Content />
        </div>
        <div class="prose-a:no-underline">
          {
            post.data.tags.map((tag) => (
              <span class="mb-2 mr-2 inline-block rounded-full px-3 py-1 text-sm text-white bg-slate-700 hover:bg-slate-600 not-prose">
                <a href={`/tags/${tag}/1/`}>{tag}</a>
              </span>
            ))
          }
        </div>
        <div class="flex justify-between">
          <small
            >Publish on <FormattedDate date={post.data.pubDate} /></small
          >
        </div>
        <Share client:visible src={Astro.url} title={post.data.title} />
    </article>
    <div class="mt-4">
      <RelatedPostsCard
        currentCategory={post.data.category[0]}
        currentSlug={post.slug}
      />
    </div>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-3857753364740983"
      data-ad-slot="3205804455"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </main>
</BaseLayout>
