---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import RelatedPostsCard from "@components/RelatedPostsCard.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Share from "@components/Share.svelte";
import MyPicture from "@components/MyPicture.astro";
import placeholder from "@/content/images/placeholder.png";
import Heading from "@components/Heading.astro";
import IconText from "@components/IconText.svelte";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content, headings } = await post.render();
const cover = post.data.cover ?? placeholder;

const showTOC = headings.length !== 0;
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  image={cover.src}
>
  <main>
    <article>
      <div class="prose mx-auto dark:prose-invert dark:text-gray-300">
        <h1 class="mb-0 text-3xl font-medium">
          {post.data.title}
        </h1>
        <span
          ><span class="iconify align-text-bottom material-symbols--update"
          ></span>
          <IconText><FormattedDate date={post.data.lastModified} /></IconText
          ></span
        >
      </div>
      <div>
        <MyPicture
          className="mx-auto"
          src={cover}
          alt={post.data.coverAlt ?? ""}
          loading="eager"
          fetchpriority="high"
        />
      </div>
      <div class="prose mx-auto dark:prose-invert">
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-3857753364740983"
          data-ad-slot="3872798108"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script is:inline>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {
          (() => {
            if (!showTOC) {
              return;
            }

            return (
              <div
                id="toc"
                class="mt-5 border-2 border-dotted border-slate-700 px-4 py-2"
              >
                <ul role="list" class="not-prose list-inside list-decimal">
                  {headings.map((heading) => {
                    if (heading.depth === 2) {
                      return (
                        <li>
                          <a href={`#${heading.slug}`} class="underline">
                            {heading.text}
                          </a>
                        </li>
                      );
                    }
                  })}
                </ul>
              </div>
            );
          })()
        }
        <div>
          <Content components={{ h2: Heading }} />
        </div>
        <div class="prose-a:no-underline">
          {
            post.data.tags.map((tag) => (
              <span class="not-prose mb-2 mr-2 inline-block rounded-full bg-slate-700 px-3 py-1 text-sm text-white hover:bg-slate-600">
                <a href={`/tags/${tag}/1/`}>{tag}</a>
              </span>
            ))
          }
        </div>
        <div class="flex justify-between">
          <small>Publish on <FormattedDate date={post.data.pubDate} /></small>
        </div>
      </div>
      <Share src={Astro.url} title={post.data.title} />
    </article>
    <div class="mt-4">
      <RelatedPostsCard
        currentCategory={post.data.category[0]}
        currentSlug={post.slug}
      />
    </div>
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-format="autorelaxed"
      data-ad-client="ca-pub-3857753364740983"
      data-ad-slot="3205804455"></ins>
    <script is:inline>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {
      (() => {
        if (!showTOC) {
          return;
        }

        return (
          <div class="fixed bottom-16 left-2 text-center text-white">
            <a
              href="#toc"
              class="block h-16 w-16 place-content-center rounded-full bg-slate-700 hover:bg-slate-600"
              aria-label="Go to Table Of Contents"
            >
              <span class="mdi--table-of-contents iconify text-2xl" />
            </a>
          </div>
        );
      })()
    }
  </main>
  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Article",
      image: post.data.cover
        ? new URL(post.data.cover.src, Astro.site).toString()
        : "",
      name: post.data.title,
      description: post.data.description,
      datePublished: post.data.pubDate,
      author: [
        {
          "@type": "Person",
          name: "mopeneko",
          url: "https://nostree.me/npub1tehcg89zc3ynfewfq8xvn69dxxvymtyel27unmj4xzvj3d7y8p7qe783a6",
        },
      ],
    })}
  />
  <script
    is:inline
    type="application/ld+json"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      itemListElement: post.data.tags.map((tag, i) => ({
        "@type": "ListItem",
        position: i + 1,
        name: tag,
        item: `${new URL(`/tags/${tag}/1/`, Astro.site)}`,
      })),
    })}
  />
</BaseLayout>
