---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import MyPicture from "./MyPicture.astro";
import IconText from "./IconText.svelte";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div class="group relative overflow-hidden">
  <a href={`/posts/${post.slug}/`} class="block">
    <div class="aspect-video overflow-hidden rounded-md">
      <MyPicture
        className="translation duration-500 group-hover:scale-105"
        src={post.data.cover}
        alt={post.data.coverAlt}
      />
    </div>
    <div>
      <h2 class="mt-1 text-lg md:text-xl">{post.data.title}</h2>
      <div class="text-xs">
        <span
          ><span class="material-symbols--update iconify align-text-bottom"
          ></span>
          <IconText><FormattedDate date={post.data.lastModified} /></IconText
          ></span
        >
      </div>
    </div>
  </a>
</div>
