---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import MyPicture from "./MyPicture.astro";
import IconText from "./IconText.svelte";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

function truncateUTF8String(str: string, maxBytes: number) {
  let byteCount = 0;
  let index = 0;
  while (index < str.length && byteCount < maxBytes) {
    const char = str.charCodeAt(index);
    if (char > 0x7ff) {
      byteCount += 3;
    } else if (char > 0x7f) {
      byteCount += 2;
    } else {
      byteCount += 1;
    }
    if (byteCount <= maxBytes) index++;
    else break;
  }
  return str.slice(0, index) + (index < str.length ? "..." : "");
}

const truncatedDescription = truncateUTF8String(post.data.description, 150);
---

<div class="group relative md:flex md:flex-row">
  <a href={`/posts/${post.slug}/`} class="block md:flex md:flex-1 md:gap-2">
    <div class="aspect-video overflow-hidden rounded-md">
      <MyPicture
        className="translation duration-500 group-hover:scale-105"
        src={post.data.cover}
        alt={post.data.coverAlt}
        loading="eager"
        fetchpriority="high"
      />
    </div>
    <div class="md:relative md:flex md:flex-col md:justify-start md:gap-4">
      <h2 class="mt-1 text-lg md:text-3xl">
        {post.data.title}
      </h2>
      <div>
        <p class="hidden md:block">
          {truncatedDescription}
        </p>
      </div>
      <div class="text-xs">
        <span
          ><span class="material-symbols--update iconify align-text-bottom"
          ></span>
          <IconText><FormattedDate date={post.data.lastModified} /></IconText
          ></span
        >
      </div>
    </div>
  </a>
</div>
